/* josseaume_energie_calendar/public/css/event_calendar.css */

.two-col-container {
	display: flex;
	justify-content: space-between;
	margin: 1rem 0;
}
.two-col-container .column {
	flex: 1;
	margin: 0 10px;
	border: 1px solid #ddd;
	padding: 10px;
	background: #fafafa;
}
.two-col-container .column h3 {
	text-align: center;
	margin-top: 0;
	color: #333;
}
.two-col-container .column ul {
	list-style-type: none;
	padding-left: 0;
}
.two-col-container .column li {
	margin-bottom: 5px;
}
